@charset "utf-8";
/* CSS Document */

/*book appoinment vector begins here ----------------------------------------------------------------*/
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  background: none;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"]::before {
  width: 238px;
  height: 211px;
  position: absolute;
  margin: 29px 19px;
  content: "";
  border: 12px solid #714d29;
  background-color: #fff;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"]::after {
  width: 120px;
  height: 8px;
  position: absolute;
  margin: 62px 128px;
  content: "";
  background-color: #919294;
}

div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj2="shape1"] {
  width: 38px;
  height: 26px;
  position: absolute;
  margin: 1px 133px;
  border-top-left-radius: 12px;
  border-top-right-radius: 10px;
  background: -webkit-linear-gradient(left, #3190c4 50%, #297ead 50%);
  background: linear-gradient(left, #3190c4 50%, #297ead 50%);
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj2="shape1"]::before {
  width: 94px;
  height: 27px;
  position: absolute;
  content: "";
  margin: 20px -28px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background: -webkit-linear-gradient(left, #3190c4 50%, #297ead 50%);
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj2="shape1"]::after {
  width: 12px;
  height: 12px;
  position: absolute;
  margin: 7px 13px;
  content: "";
  border-radius: 20px;
  background-color: #e3e3e3;
}

div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj3="shape2"] {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 74px 59px;
  border-radius: 100%;
  background-color: #ed030c;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj3="shape2"]::before {
  width: 36px;
  height: 10px;
  position: absolute;
  content: "";
  margin: 20px 6px;
  background-color: #ffffff;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj3="shape2"]::after {
  width: 10px;
  height: 36px;
  position: absolute;
  content: "";
  margin: 8px 19px;
  background-color: #ffffff;
}

div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj4="shape3"] {
  width: 120px;
  height: 8px;
  position: absolute;
  margin: 80px 128px;
  content: "";
  background-color: #d1d1d3;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj4="shape3"]::before {
  width: 120px;
  height: 8px;
  position: absolute;
  content: "";
  margin: 19px 0px;
  background-color: #d1d1d3;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj4="shape3"]::after {
  width: 120px;
  height: 8px;
  position: absolute;
  content: "";
  margin: 38px 0px;
  background-color: #d1d1d3;
}

div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj5="shape4"] {
  width: 194px;
  height: 8px;
  position: absolute;
  margin: 142px 54px;
  content: "";
  background-color: #919294;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj5="shape4"]::before {
  width: 194px;
  height: 8px;
  position: absolute;
  content: "";
  margin: 21px 0px;
  background-color: #d1d1d3;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj5="shape4"]::after {
  width: 194px;
  height: 8px;
  position: absolute;
  content: "";
  margin: 42px 0px;
  background-color: #d1d1d3;
}

div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj6="clock"] {
  width: 80px;
  height: 80px;
  border: 8px solid #272734;
  border-radius: 50%;
  position: absolute;
  left: 33%;
  top: 67%;
  margin: auto;
  background-color: #fff;
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj6="clock"]::before, div[vector-obj6="clock"]::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 6px;
  background: rgba(0,0,0,0.75);
  border-radius: 4px;
  left: 50%;
  bottom: 40px;
  margin: 0 0 0 -4px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: Clock;
          animation-name: Clock;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
div[vector-obj6="clock"]::before  {
  -webkit-animation-duration: 20s;
    animation-duration: 20s;
  height:40px;
}
div[vector-obj6="clock"]::after  {
  -webkit-animation-duration: 60s;
    animation-duration: 60s;
  height:24px;
}
@-webkit-keyframes Clock {
  0% {
    -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
@keyframes Clock {
  0% {
    -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
     transform: rotate(360deg)
  }
}
div[data-bookappoinmentstyle="default"] div[vector-obj1="contentwrapper"] div[vector-obj7="clocknut"] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 245px;
  left: 141px;
  background-color: #272734;
}
/*book appoinment vector ends here ----------------------------------------------------------------*/

/*Scan appoinment vector begins here ----------------------------------------------------------------*/
div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  background: none;
}
div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"]::before {
  width: 276px;
  height: 185px;
  position: absolute;
  content: "";
  margin: auto;
  border-width: 12px;
  border-color: #2d3e50;
  border-style: solid;
  border-radius: 10px;
  background-color: #f8f8f8;
  top: 11px;
}
div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"]::after {
  width: 92px;
  position: absolute;
  content: "";
  margin: auto;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 61px solid #2d3e50;
  top: 214px;
  left: 80px;
}

div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] div[vector="shape1"] {
  width: 169px;
  height: 17px;
  position: absolute;
  margin: auto;
  background: #2d3e50;
  border-radius: 4px;
  top: 274px;
  left: 59px;
}
div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] div[vector="shape1"]::before {
  width: 276px;
  height: 92px;
  position: absolute;
  content: "";
  margin: auto;
  background: #d7d7d7;
  left: -47px;
  bottom: 83px;
}
div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] div[vector="shape1"]::after {
  width: 276px; 
  height: 129px;
  position: absolute;
  content: "";
  margin: auto;
  left: 10px;
  bottom: 117px;
  background-image: url(imgs/tooth.png);
  background-repeat: no-repeat;
}

div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] div[vector="shape2wrapper"] {
  position: absolute; 
  margin: 0px -59px;
   -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  -webkit-animation-name: scan;
          animation-name: scan;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

-webkit-@keyframes scan {
0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(13px, -37px);
  }
  
  80% {
    transform: translate(55px, 9px);
  }
}

@keyframes scan {
0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(13px, -37px);
  }
  
  80% {
    transform: translate(55px, 9px);
  }
}

div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] div[vector="shape2wrapper"] div[vector="shape2"] {
  width: 80px;
  height: 80px;
  position: absolute;
  margin: auto;
  background: rgba(173, 173, 173, 0.78);
  top: 62px;
  left: 132px;
  border-radius: 100%;
  border: 5px solid #424141;
}
div[data-scanappoinmentstyle="default"] div[vector="contentwrapper"] div[vector="shape2wrapper"] div[vector="shape2"]::before {
  width: 12px;
  height: 48px;
  position: absolute;
  content: "";
  margin: auto;
  background-color: #272727;
  top: 67px;
  left: 79px;
  border-radius: 10px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
/*Scan appoinment vector ends here ----------------------------------------------------------------*/

/*odll rotate vector begins here ----------------------------------------------------------------*/
div[data-withintheblockchainstyle="default"] div[vectorimg="contentwrapper"] {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  background: none;
}
div[data-withintheblockchainstyle="default"] div[vectorimg="contentwrapper"]::before {
  width: 276px;
  height: 129px;
  position: absolute;
  content: "";
  margin: auto;
  left: 122px;
  top: 114px;
  background-image: url(imgs/odlllogo.png);
  background-repeat: no-repeat;
  background-size: 63px;
}
div[data-withintheblockchainstyle="default"] div[vectorimg="contentwrapper"] div[vectorimg="shape1"] {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  background-image: url(imgs/withinBlockChainVctr2.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
div[data-withintheblockchainstyle="default"] div[vectorimg="contentwrapper"] div[vectorimg="shape1"]::before { 
    width: 114px;
    height: 114px;
    position: absolute;
    content: "";
    left: 93px;
    top: 92px;
    border: 1px solid #3190c4;
   -webkit-animation-duration: 12s;
    animation-duration: 12s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  -webkit-animation-name: rotatevector;
          animation-name: rotatevector;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@keyframes rotatevector {
  0% {
    -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
     transform: rotate(360deg)
  }
}
/*odll rotate vector begins here ----------------------------------------------------------------*/